<%- include('../../partials/dashboard/header'); %>
<div class="wrapper">
  <%- include('../../partials/dashboard/sidebar'); %>
  <div class="main">
    <%- include('../../partials/dashboard/navbar'); %>
    <main class="content">
      <div class="row col-4 ">
        <%- include('../../partials/dashboard/charts/admin_form'); %>
      </div>
    </main>
    <%- include('../../partials/dashboard/footer'); %>
  </div>
</div>
<script src="/js/app.js"></script>
</body>

</html>