<%- include('../../partials/home/header'); %>
<body class="profileBody">
<section class="py-8 my-8">
  <div class="container-fluid">
<%- include('../../partials/home/nav'); %>
    <div class="bg-white profile-shadow rounded-lg d-block d-sm-flex profileBox">
      <div class="profile-tab-nav border-right">
        <div class="p-4">
          <div class="img-circle profile-img text-center mb-3">
            <img id="img" src="<%= user.img %>" alt="Image" class="profile-shadow">
          </div>
          <h4 class="text-center">
            <%= user.firstname %>
            <%= user.lastname %>
          </h4>
        </div>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link profile-link active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
            <i class="fa fa-user text-center mr-1 profile-icon"></i>
            Personal Information
          </a>
          <a class="nav-link profile-link" id="education-tab" data-toggle="pill" href="#education" role="tab" aria-controls="education" aria-selected="false">
            <i class="fa fa-university text-center mr-1 profile-icon"></i>
            Education
          </a>
          <a class="nav-link profile-link" id="communication-tab" data-toggle="pill" href="#communication" role="tab" aria-controls="communication" aria-selected="false">
            <i class="fa fa-comments text-center mr-1 profile-icon"></i>
            Communication
          </a>
          <a class="nav-link profile-link" id="career-tab" data-toggle="pill" href="#career" role="tab" aria-controls="career" aria-selected="false">
            <i class="fa fa-briefcase text-center mr-1 profile-icon"></i>
            Career
          </a>
          <a class="nav-link profile-link" id="interests-tab" data-toggle="pill" href="#interests-skills" role="tab" aria-controls="interests-skills" aria-selected="false">
            <i class="fa fa-star text-center mr-1 profile-icon"></i>
            Interests & Skills
          </a>
          <a class="nav-link profile-link" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
            <i class="fa fa-key text-center mr-1 profile-icon"></i>
            Password
          </a>
        </div>
      </div>
      <div class="tab-content profile-tab-content p-4 p-md-5" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
          <h3 class="mb-4">Personal Information</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group profile-form-group">
                <label>First Name</label>
                <input type="text" class="form-control" value="<%= user.firstname %>" id='firstName'>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group profile-form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" value="<%= user.lastname %>" id="lastName">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group profile-form-group">
                <label>Date of birth</label>
                <% var maxDate=new Date(); %>
                <% maxDate.setFullYear(maxDate.getFullYear() - 10); %>
                <input type="date" id="birthday" class="form-control" name="birthday" min="1950-01-01" max="<%= maxDate.toISOString().slice(0,10) %>" <% if
                        (user.dob===null) { %> <% %>
                        <% } else { %> value="<%= new
                            Date(user.dob).toISOString().slice(0,10) %>" <% } %> />


              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group profile-form-group">
                <label>Gender</label>
                <select name="gender" id="gender" class="form-control">
                  <option value="Male" <%=user.gender==='Male' ? 'selected'
                      : '' %>>Male</option>
                  <option value="Female" <%=user.gender==='Female'
                      ? 'selected' : '' %>>Female</option>
                  <option value="other" <%=user.gender==='other' ? 'selected'
                      : '' %>>I prefer not to answer</option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group profile-form-group">
                <label>Language</label>
                <select class="form-select" id="languages" name="languages">
                  <option value="zh" <%=user.language==='zh' ? 'selected' : ''
                      %>>Chinese - 中文</option>
                  <option value="es" <%=user.language==='es' ? 'selected' : ''
                      %>>Spanish - español</option>
                  <option value="en" <%=user.language==='en' ? 'selected' : ''
                      %>>English</option>
                  <option value="hi" <%=user.language==='hi' ? 'selected' : ''
                      %>>Hindi - हिन्दी</option>
                  <option value="ar" <%=user.language==='ar' ? 'selected' : ''
                      %>>Arabic - العربية</option>
                  <option value="pt" <%=user.language==='pt' ? 'selected' : ''
                      %>>Portuguese - português</option>
                  <option value="bn" <%=user.language==='bn' ? 'selected' : ''
                      %>>Bengali - বাংলা</option>
                  <option value="ru" <%=user.language==='ru' ? 'selected' : ''
                      %>>Russian - русский</option>
                  <option value="ja" <%=user.language==='ja' ? 'selected' : ''
                      %>>Japanese - 日本語</option>
                  <option value="pa" <%=user.language==='pa' ? 'selected' : ''
                      %>>Punjabi - ਪੰਜਾਬੀ</option>
                </select>

              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group profile-form-group">
                <label>Bio</label>
                <textarea class="form-control" rows="4" id="bio"><%= user.bio %></textarea>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-light update-btn" id="update-btn-personal">Update</button>
            <button class="btn btn-light">Cancel</button>
          </div>
        </div>
        <div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
          <h3 class="mb-4">Education</h3>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group profile-form-group">
                <label>Level of Education</label>
                <select name="education-level" id="education-level" class="form-control">
                  <option value="school" <%=user.educationLevel==='school'
                      ? 'selected' : '' %>>Highschool</option>
                  <option value="diploma" <%=user.educationLevel==='diploma'
                      ? 'selected' : '' %>>Diploma</option>
                  <option value="bachelors" <%=user.educationLevel==='bachelors' ? 'selected' : '' %>>Bachelors</option>
                  <option value="masters" <%=user.educationLevel==='masters'
                      ? 'selected' : '' %>>Masters</option>
                  <option value="phd" <%=user.educationLevel==='phd'
                      ? 'selected' : '' %>>Doctorate</option>
                </select>

              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group profile-form-group">
                <label>Major</label>
                <input id="major" class="form-control" value="<%= user.major %>">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group profile-form-group">
                <label>Finished Courses</label>
                <input id='finished-courses' class="form-control" value="<%= user.finishedCourses %>">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group profile-form-group">
                <label>Expected graduation year</label>
                <select name="graduation-year" id="graduation-year" class="form-control">
                  <option value="Graduated" <%=user.graduationYear==='Graduated' ? 'selected' : '' %>>Graduated</option>
                  <option value="2023" <%=user.graduationYear==='2023'
                      ? 'selected' : '' %>>2023</option>
                  <option value="2024" <%=user.graduationYear==='2024'
                      ? 'selected' : '' %>>2024</option>
                  <option value="2025" <%=user.graduationYear==='2025'
                      ? 'selected' : '' %>>2025</option>
                  <option value="2026" <%=user.graduationYear==='2026'
                      ? 'selected' : '' %>>2026</option>
                  <option value="2027" <%=user.graduationYear==='2027'
                      ? 'selected' : '' %>>2027</option>
                  <option value="2028" <%=user.graduationYear==='2028'
                      ? 'selected' : '' %>>2028</option>
                  <option value="2029" <%=user.graduationYear==='2029'
                      ? 'selected' : '' %>>2029</option>
                  <option value="2030" <%=user.graduationYear==='2030'
                      ? 'selected' : '' %>>2030</option>
                </select>

              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-primary update-btn" id="update-btn-education">Update</button>
            <button class="btn btn-light">Cancel</button>
          </div>
        </div>


        <div class="tab-pane fade" id="communication" role="tabpanel" aria-labelledby="communication-tab">
          <h3 class="mb-4">Communication</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group profile-form-group">
                <label>Email Address</label>
                <input id="email" type="email" class="form-control" value="<%= user.email %>" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>


              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group profile-form-group">
                <label>Phone Number</label>
                <input id="phone" type="text" class="form-control" value="<%= user.phoneNumber %>">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group profile-form-group">
                <label>Preferred Method of Communication</label>
                <select name="preferred-method" id="preferred-method" class="form-control" value="<%= user.preferredCommunication %>">
                  <option value="email">Email</option>
                  <option value="phone">Phone</option>
                  <option value="social-media">Social Media</option>
                  <option value="other">Other</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group profile-form-group">
                <label>Social Media & Connected Accounts</label>
                <input id='social-media' type="text" class="form-control " value=<%=user.socialMedia %>>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group profile-form-group">
                <label>Time Availability</label>
                <input id='time-availability' type="text" class="form-control" value=<%=user.timeAvailability %>>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-primary update-btn" id="update-btn-communication">Update</button>
            <button class="btn btn-light">Cancel</button>
          </div>
        </div>
        <div class="tab-pane fade" id="career" role="tabpanel" aria-labelledby="career-tab">
          <h3 class="mb-4">Career</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group profile-form-group">
                <label>Current Occupation</label>
                <input id="current-occupation" type="text" class="form-control" value=<%=user.currentOccupation %>>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group profile-form-group">
                <label>Professional Background</label>
                <input id="professional-background" type="text" class="form-control" value=<%=user.professionalBackground
                    %>>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group profile-form-group">
                <label>Career Goals</label>
                <textarea class="form-control" id="career-goals" rows="4"><%=user.careerGoals
                    %></textarea>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-primary update-btn" id="update-btn-career">Update</button>
            <button class="btn btn-light">Cancel</button>
          </div>
        </div>
        <div class="tab-pane fade" id="interests-skills" role="tabpanel" aria-labelledby="interests-tab">
          <h3 class="mb-4">Interests & Skills</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group profile-form-group">
                <label>Interests and Hobbies</label>
                <textarea id="interests" class="form-control" rows="4"><%=user.interests
                    %></textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group profile-form-group">
                <label>Learning Goals</label>
                <textarea id="learning-goals" class="form-control" rows="4"><%=user.careerGoals
                    %></textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group profile-form-group">
                <label>Soft Skills</label>
                <textarea id="soft-skills" class="form-control" rows="4"><%=user.softSkills
                    %></textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group profile-form-group">
                <label>Hard Skills</label>
                <textarea id="hard-skills" class="form-control" rows="4"><%=user.hardSkills
                    %></textarea>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-primary update-btn" id="update-btn-interest">Update</button>
            <button class="btn btn-light">Cancel</button>
          </div>
        </div>
        <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
          <h3 class="mb-4">Password</h3>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group profile-form-group">
                <label>Current Password</label>
                <input type="password" class="form-control" placeholder="Enter your current password">

              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group profile-form-group">
                <label>New Password</label>
                <input type="password" class="form-control" placeholder="Enter a new password">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group profile-form-group">
                <label>Confirm New Password</label>
                <input type="password" class="form-control" placeholder="Confirm your new password">
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-primary update-btn" id="update-btn-password">Update</button>
            <button class="btn btn-light">Cancel</button>
          </div>
        </div>



      </div>
    </div>
</section>
</body>
<script>
  let personalData = {
    firstname: document.getElementById('firstName').value,
    lastname: document.getElementById('lastName').value,
    dob: document.getElementById('birthday').value,
    gender: document.getElementById('gender').value,
    language: document.getElementById('languages').value,
    bio: document.getElementById('bio').value
  }
  let educationData = {
    educationLevel: document.getElementById('education-level').value,
    major: document.getElementById('major').value,
    finishedCourses: document.getElementById('finished-courses').value,
    graduationYear: document.getElementById('graduation-year').value
  }
  /*Personal Info Update Button*/
  var updateBtn = document.getElementById('update-btn-personal');
  updateBtn.addEventListener('click', async () => {
    personalData = {
      firstname: document.getElementById('firstName').value,
      lastname: document.getElementById('lastName').value,
      dob: document.getElementById('birthday').value,
      gender: document.getElementById('gender').value,
      language: document.getElementById('languages').value,
      bio: document.getElementById('bio').value
    }
    fetch('/profile', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(personalData)
      })
      .then(response => response.json())
      .catch(error => {
        console.error('Error:', error);
      });
    window.location.reload();
  })
  /*Education Update Button*/
  var updateBtnEducation = document.getElementById('update-btn-education');
  updateBtnEducation.addEventListener('click', async () => {
    educationData = {
      educationLevel: document.getElementById('education-level').value,
      major: document.getElementById('major').value,
      finishedCourses: document.getElementById('finished-courses').value,
      graduationYear: document.getElementById('graduation-year').value
    }
    fetch('/profile', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(educationData)
      })
      .then(response => response.json())
      .catch(error => {
        console.error('Error:', error);
      });
    window.location.reload();

  })
  var communicationData = {
    email: document.getElementById('email').value,
    phoneNumber: document.getElementById('phone').value,
    preferredCommunication: document.getElementById('preferred-method').value,
    socialMedia: document.getElementById('social-media').value,
    timeAvailability: document.getElementById('time-availability').value,
  }
  var updateBtnCommunication = document.getElementById('update-btn-communication');
  updateBtnCommunication.addEventListener('click', async () => {
    const emailInput = document.getElementById('email');
    event.preventDefault();
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/;
    if (!emailRegex.test(emailInput.value)) {
      alert('Invalid email address');
      return;
    }
    communicationData = {
      email: document.getElementById('email').value,
      phoneNumber: document.getElementById('phone').value,
      preferredCommunication: document.getElementById('preferred-method').value,
      socialMedia: document.getElementById('social-media').value,
      timeAvailability: document.getElementById('time-availability').value
    }
    fetch('/profile', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(communicationData)
    })
    window.location.reload();
  })
  var careerData = {
    currentOccupation: document.getElementById('current-occupation').value,
    professionalBackground: document.getElementById('professional-background').value,
    careerGoals: document.getElementById('career-goals').value
  }
  var updateBtnCareer = document.getElementById('update-btn-career');
  updateBtnCareer.addEventListener('click', async () => {
    careerData = {
      currentOccupation: document.getElementById('current-occupation').value,
      professionalBackground: document.getElementById('professional-background').value,
      careerGoals: document.getElementById('career-goals').value,
    }
    fetch('/profile', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(careerData)
      })
      .then(response => response.json())
      .catch(error => {
        console.error('Error:', error);
      });
    window.location.reload();

  })
  var interestData = {
    interests: document.getElementById('interests').value,
    learningGoals: document.getElementById('learning-goals').value,
    softSkills: document.getElementById('soft-skills').value,
    hardSkills: document.getElementById('hard-skills').value,
  }
  var updateBtnInterest = document.getElementById('update-btn-interest');
  updateBtnInterest.addEventListener('click', async () => {
    interestData = {
      interests: document.getElementById('interests').value,
      learningGoals: document.getElementById('learning-goals').value,
      softSkills: document.getElementById('soft-skills').value,
      hardSkills: document.getElementById('hard-skills').value,
    }
    fetch('/profile', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(interestData)
      })
      .then(response => response.json())
      .catch(error => {
        console.error('Error:', error);
      });
    window.location.reload();

  })
  // function togglePassword() {
  //   const passwordInput = document.getElementById("password");
  //   const toggleButton = document.querySelector("i");

  //   if (passwordInput.type === "password") {
  //     passwordInput.type = "text";
  //     toggleButton.classList.remove("fa-eye");
  //     toggleButton.classList.add("fa-eye-slash");
  //   } else {
  //     passwordInput.type = "password";
  //     toggleButton.classList.remove("fa-eye-slash");
  //     toggleButton.classList.add("fa-eye");
  //   }
  // }
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<%- include('../../partials/home/footer'); %>